NODE_ENV=development
NATS_SERVERS=nats://nats:4222
DATABASE_URL=postgresql://whoshuman:changeme@postgres:5432/whoshuman
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=change_this_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d
